/*------------------Media Query Responsive----------------*/
$res_550: " screen and (max-width: 550px)";
$res_650: " screen and (max-width: 650px)";
$res_768: " screen and (max-width: 768px)";
$res_991: " screen and (max-width: 991px)";
$res_1200: " screen and (max-width: 1200px)";

@mixin responsive_550() {
  @media #{$res_550} {
    @content;
  }
}

@mixin responsive_650() {
  @media #{$res_650} {
    @content;
  }
}

@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}

@mixin responsive_991() {
  @media #{$res_991} {
    @content;
  }
}

@mixin responsive_1200() {
  @media #{$res_1200} {
    @content;
  }
}
